/* //////////////////////////////////////////////////////////////////////////////////////////////////
    BEGIN
	RESET.css, 04-01-2011
////////////////////////////////////////////////////////////////////////////////////////////////// */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	font-size: 11px;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td
{
	text-align: left;
	font-weight: normal;
}

table, td, th
{
	vertical-align: top;
	padding: 0;
	margin: 0;
}

blockquote:before, blockquote:after, q:before, q:after
{
	content: "";
}

blockquote, q
{
	quotes: "" "";
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////
    END
	RESET.css
////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////
    BEGIN
    DRAFTSMAN GRID, Phat, 15-11-2010
////////////////////////////////////////////////////////////////////////////////////////////////// */

.clearall { clear:both;font-size:0;line-height:0;height:0; }
.clearfix { display: inline-table; height: 1%; display: block; zoom: 1; }
html>body .clearfix { height: auto; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearflow { overflow: hidden; zoom: 1; }